@if (errorMsgAction$ | async ;as errorMsg) {
<div class="row">
    <div class="col-12">
        <div class="alert alert-danger">{{errorMsg}}</div>
    </div>
</div>
}
@if(post$ | async; as post){
<div class="row d-flex justify-content-end me-5">
    <div class="col-3"><button class="btn btn-warning" (click)="onUpdatePost()">Update Post</button></div>
    <div class="col-3"><button class="btn btn-danger" (click)="onDeletePost(post)">Delete Post</button></div>
</div>

<div class="row">
    <div class="col">
        <div>ID:{{post.id}}</div>
        <div>Title:{{post.title}}</div>
        <div>Description:{{post.description}}</div>
        <div>Category:{{post.categoryName}}</div>
    </div>
</div>
}