<div class="row m-3">
    <h3 class="text-center fw-bold">Alternative Posts communication B/w 2 Components</h3>
</div>
<div class="row d-flex justify-content-end me-5 ">
    <div class="col-2"><button class="btn btn-outline-primary" (click)="onAddPost()">Add Post</button></div>
</div>
<div class="row mt-4">
    <div class="col-md-4">
        <div class="list-group">
            @for (post of posts$ | async; track $index) {
            <a href="#" class="list-group-item list-group-item-action" [class]="{active:selectedPostId==post.id}"
                (click)="onSelectPost(post,$event)">
                {{post.title}} - {{post.categoryName}}
            </a>
            }
        </div>
    </div>
    <div class="col-md-8">
        @if (!showAddPost || (closeAddPost$|async)) {
        <app-single-post></app-single-post>
        }@else {
        <app-add-post></app-add-post>
        }

    </div>
</div>