<h3 class="text-center p-3 fw-bold">Declarative Posts Data</h3>
<table class="table table-hover" *ngIf="posts$ | async as posts">
    <thead>
        <tr class="table-dark">
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @for (post of posts; track $index) {
        <tr>
            <td>{{post.id}}</td>
            <td>{{post.title}}</td>
            <td>{{post.description}}</td>
            <td>{{post.categoryName}}</td>
        </tr>
        }
    </tbody>
</table>