<h3 class="text-center p-3 fw-bold">Declarative Posts Data</h3>
<div class="d-flex m-2 justify-content-end">
    <div>
        <select class="form-select" (change)="onChangeCategory($event)">
            <option value="">Select Category</option>
            @for (category of categories$ | async; track $index) {
            <option [value]="category.id">{{category.title}}</option>
            }
        </select>
    </div>
    <div class="ms-2"><a routerLink="/declarativePosts/add" class="btn btn-primary">Add Post</a></div>
</div>
@if (filteredPosts$ | async; as posts) {
<table class="table table-hover">
    <thead>
        <tr class="table-dark">
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @for (post of posts; track $index) {
        <tr>
            <td>{{post.id}}</td>
            <td>{{post.title}}</td>
            <td>{{post.description}}</td>
            <td>{{post.categoryName}}</td>
            <td><a [routerLink]="['/declarativePosts/edit',post.id]" class="btn btn-warning me-2">Edit</a>
                <a routerLink="" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        }@empty {
        <tr>
            <td colspan="4" class="text-center">No posts found.</td>
        </tr>
        }
    </tbody>
</table>
}@else {
<!-- <div class="text-center">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div> -->
}